@import './variables';
@import 'vuetify/styles/main.sass';
@import './override';
@import './layout/text';
@import './layout/reboot';
@import './layout/container';
@import './layout/sidebar';
@import './layout/rtl';
@import './layout/topbar';
@import './layout/horizontal';
@import './layout/dark';
@import './layout/customizer';

@import './components/VBreadcrumb';
@import './components/VAlert';
@import './components/VButtons';
@import './components/VCard';
@import './components/VCarousel';
@import './components/VField';
@import './components/VList';
@import './components/VInput';
@import './components/VNavigationDrawer';
@import './components/VShadow';
@import './components/VSwitch';
@import './components/VSelectionControl';
@import './components/VTextField';
@import './components/VTextarea';
@import './components/VTabs';
@import './components/VTable';
@import './components/VExpansionpanel';

/*Landing page css*/
@import 'landingpage/header';
@import 'landingpage/general';

@import './pages/datatable';
@import './pages/dashboards';
@import './pages/editor';
@import './pages/authentication';
@import './pages/apps';

@import 'vue3-perfect-scrollbar/dist/vue3-perfect-scrollbar.css';


.logoStyleHeader {
    max-width: 200px;
    max-height: 68px;
    margin: 0 auto;
    display: block;
}
.login-page_img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 96px);
}
.login-page_img img {
    width: auto;
    height: 100%;
}
.authentication::before{
    background: #000;
    opacity: 1;
}
.widthSizeRegister {
    width: 80%;
}
.scrollSignUp {
    max-height: calc(100vh - 0px);
    overflow-y: auto;
    background-color: #000;
}